################################################################################
# File: clueless.config
# Language: python3
# Author: Nate Lao (nlao1@jh.edu)
# Date Created: 4/5/2020
# Description:
#          Configuration for Clueless
################################################################################

SERVER_IP='http://localhost'
SERVER_PORT='3000'
HTTP_PORT='8080'