/******************************************************************************
* File: environment.ts
* Language: TypeScript
* Author: Nate Lao (nlao1@jh.edu)
* Description:
*        Custom configuration file for Project Clueless.
******************************************************************************/

export const environment = {
  production: true
};
